*{
  box-sizing: border-box;
  margin: 0;
  text-decoration:none;
  color: hsla(0deg, 2%, 33%, 100);
  font-family: 'Noto Sans'
}
div.footer{
  margin: 0 auto;
  width: 100%;
  min-width: 1200px;
  height: 200px;
  background-color: hsla(0deg, 0%, 59%, .30);
  position: relative;
  padding-left: 200px;
}

div.footer > div.index{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  width: 75px;
  height: 145px;
  font-size: 12px;
  justify-content: space-between;
  position: absolute;
  left: 70px;
  top: 25px;
}
div.footer > div.slogan > p.h1{
  margin: 0;
  font-size: 14px;
  width: 156px;
  height: 20px;
  position: absolute;
  left: 25%;
  top: 23px;
}
div.slogan a{
  display: block;
  width: 14px;
  height: 14px;
}
 div.slogan > a.fbicon{
  position: absolute;
  left: 37.8%;
  top: 23px;
}
div.slogan > a.igicon{
  position: absolute;
  left: 39.5%;
  top: 23px;
}
div.slogan > p.local{
  font-size: 12px;
  position: absolute;
  left: 25%;
  top: 57px;
}
div.slogan > p.copy{
  font-size: 12px;
  position: absolute;
  left: 25%;
  top: 153px;
}
div.footer > div.tiba{
  font-size: 12px;
  position: absolute;
  right: 60px;
  bottom: 31px;
}