*{
  box-sizing: border-box;
  margin: 0;
  text-decoration:none;
  color: hsla(0deg, 2%, 33%, 100);
  font-family: 'Noto Sans';
  
}


nav.navbar{
  width: 1200px;
  height: 90px; 
  margin: 0 auto;
  background-color: hsla(193deg, 100%, 96%, 100);
  z-index: 2;
  position: sticky;
  top: 0;
  left: 0;
  /* height: 70px; */
}

nav.navbar > a img.logo{
  border-radius: 50%;
  width: 130px;
  position: absolute;
  left: 60px;
  top: 20px;
  z-index: 100;
}

nav.navbar > a img.logo2{
  margin-top: 5px;
  margin-left: 397px;
}

nav.navbar > div.img{
  position: absolute;
  right: 60px;
  top: 30px;
}

nav.navbar > div.img:hover{
  cursor: pointer;
}

nav.navbar > p{
  font-size: 14px;
  position: absolute;
  left: 860px;
  top: 35px;
}



div.banner > p{
  color: hsla(0deg, 0%, 100%, 81%);
  background-color: hsla(0deg, 4%, 69%, 63%);
  /* border: 1px solid white; */
  border-radius: 5px;
  width: max-content;
  font-size: 30px;
  padding: 3px 15px;
  position: relative;
  top: 134px;
  left: 520px;
}